<div class="row book-list">
    <div class="col-md-5">
      <h2>Books</h2>
      <ul class="list-group">
        <li class="list-group-item book-app__item"
          *ngFor="let book of books"
          (click)="selectBook(book)"
          [class.active]="book === selectedBook">
          <p class="book-text">{{book.name}}</p>
          <img src="{{book.picture}}" alt="Picture" class="book-image">
        </li>
      </ul>
      <button class="btn" (click)="createNewBook()">New Book</button>
    </div>
    <div class="col-md-5 col-md-offset-2 book-details">
      <book-details
        [book]="selectedBook"
        [createHandler]="addBook"
        [updateHandler]="updateBook"
        [deleteHandler]="deleteBook">
      </book-details>
    </div>
</div>
