.book-app__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.book-image {
    width: 90px;
    height: 50px;
    background-size: contain;
}

.book-text {
    font-size: 36px;
    margin: 0;
}